<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>weather</key>
	<dict>
		<key>texts</key>
		<dict>
			<key>Item1</key>
			<string>iconfilter-indoor.png</string>
			<key>item2</key>
			<string>iconfilter-Outdoor.png</string>
		</dict>
		<key>images</key>
		<dict>
			<key>Item</key>
			<string>Indoor</string>
			<key>item2</key>
			<string>Outdoor</string>
		</dict>
	</dict>
	<key>distance</key>
	<dict>
		<key>texts</key>
		<dict>
			<key>Item1</key>
			<string>iconfilter-indoor.png</string>
			<key>item2</key>
			<string>iconfilter-Outdoor.png</string>
		</dict>
		<key>images</key>
		<dict>
			<key>Item</key>
			<string>Indoor</string>
			<key>item2</key>
			<string>Outdoor</string>
		</dict>
	</dict>
	<key>time</key>
	<dict>
		<key>texts</key>
		<dict>
			<key>Item1</key>
			<string>iconfilter-indoor.png</string>
			<key>item2</key>
			<string>iconfilter-Outdoor.png</string>
		</dict>
		<key>images</key>
		<dict>
			<key>Item</key>
			<string>Indoor</string>
			<key>item2</key>
			<string>Outdoor</string>
		</dict>
	</dict>
</dict>
</plist>
